* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #a7a7a7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.count {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.increment,
.decrement {
  padding: 10px 20px;
  background: #fff;
  color: #000;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}
